* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f9fb;
}

.modal {
  position: relative;
  width: 800px;
  height: 420px;
  margin: 0 auto;
  box-shadow: 0 5px 10px rgba(120, 120, 120, 0.3);
}

.board {
  display: flex;
}

.left-board {
  padding: 2rem;
  display: grid;
  grid-template-rows: auto 2rem;
}

.text-board .title {
  margin-bottom: 1rem;
}

.text-board .text {
  color: #666;
  line-height: 2;
}

.buttons-board {
  display: flex;
}

.buttons-board .btn {
  padding: 8px 20px;
  background-color: royalblue;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.pagination {
  display: flex;
  margin: 10px 0 0 12px;
}

.pagination span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7494f3;
}

.pagination span.active {
  background-color: royalblue;
}

.pagination span:not(:last-child) {
  margin-right: 8px;
}

.button-moadl {
  position: absolute;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  top: 45%;
  border-radius: 50%;
  z-index: 20;
  box-shadow: 0 5px 10px rgba(120, 120, 120, 0.2);
}

.button-moadl.next {
  right: -10px;
}

.button-moadl.prev {
  left: -10px;
}

.right-board video {
  width: 420px;
  height: 420px;
}

.end {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7494f3;
}

.end h2 {
  color: #fff;
  margin-bottom: 1rem;
}

.end a {
  text-decoration: none;
  color: royalblue;
  padding: 8px 25px;
  background-color: #fff;
  border-radius: 5px;
}

@media (max-width: 990px) {
  .modal {
    width: 350px;
    height: fit-content;
  }

  .board {
    flex-direction: column-reverse;
  }

  .right-board video {
    width: 350px !important;
  }

  .end {
    padding: 3rem 0;
  }
}
